#SUBSYSTEM=="block", ACTION=="add", RUN="/usr/local/bin/sd-autocopy"
SUBSYSTEM=="block", ACTION=="add", ENV{DEVTYPE}=="partition", ENV{ID_PART_ENTRY_NUMBER}=="1", RUN="/usr/local/bin/sd-autocopy"
